.side-bar {
    height: 100vh;
}

@media screen and (min-width: 1090px) {
    .side-bar-icon {
        display: none;
    }
}
@media screen and (max-width: 1089px) {
    .side-bar {
        height: calc(100vh - 4em);
    }
    .side-bar-icon i:hover {
        cursor: pointer;
    }

}

:host {
    width: 100%;
}
