<button class="btn btn-success" [swal]="modal">
    Liberar
</button>

<swal #modal title="Liberar" [swalOptions]="options" (confirm)="liberacao.emit(vaga)">
  <div *swalPortal class="modal-content">
      <div class="modal-body">
        <h6 *ngIf="pagamento.troco === null; else elseBlock">Valor a pagar <span class="badge badge-info">{{ pagamento.totalAPagar | currency : 'R$ ' }}</span></h6>
        <ng-template #elseBlock>
          <h3>Troco <span class="badge badge-warning">{{ pagamento.troco | currency : 'R$ ' }}</span></h3>
        </ng-template>
        
        <div *ngIf="pagamento.troco === null" class="form-group row">
            <label for="valor" class="col-sm-2 col-form-label col-form-label-sm">Valor</label>
            <div class="col-sm-10">
                <input type="number" [(ngModel)]="pagamento.totalAPago" name="totalPago" class="form-control form-control-sm" id="valor">
            </div>
        </div>
        <button *ngIf="pagamento.troco === null" class="btn btn-success" (click)="pagar(pagamento)">Pagar</button>
      </div>
  </div>
</swal>
